<main class="main main--sign" data-bg="img/bg/bg.png">
    <div class="page-404">
        <div class="page-404__wrap">
            <div class="page-404__content">
                <h1 class="page-404__title">404</h1>
                <p class="page-404__text">@ViewBag.ErrorMessage</p>
                <a href="~/Home/Index" class="page-404__btn"><span>Geri dön</span></a>
            </div>
        </div>
    </div>
</main>